<% include ../admin/add_top.ejs %>
<tr id="_t_id">
	<th width="150">id</th>
	<td>
		<input type="text" ReadOnly="true" class="textinput" id="id" name="id" value="<% if(r.id){%><%=r.id%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_名称">
	<th>名称</th>
	<td><input type="text" class="textinput requireinput " id="名称" name="名称" value="<% if(r.名称){%><%=r.名称%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>

<tr id="_t_显示名称">
	<th>显示名称</th>
	<td><input type="text" class="textinput requireinput " id="显示名称" name="显示名称" value="<% if(r.显示名称){%><%=r.显示名称%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_加盟费">
	<th>加盟费</th>
	<td><input type="text" class="textinput requireinput " id="加盟费" name="加盟费" value="<% if(r.加盟费){%><%=r.加盟费%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_提成">
	<th>提成</th>
	<td><input type="text" class="textinput requireinput " id="提成" name="提成" value="<% if(r.提成){%><%=r.提成%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_提成百分比">
	<th>提成百分比</th>
	<td><input type="text" class="textinput requireinput " id="提成百分比" name="提成百分比" value="<% if(r.提成百分比){%><%=r.提成百分比%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_提成最低数">
	<th>提成最低数</th>
	<td><input type="text" class="textinput requireinput " id="提成最低数" name="提成最低数" value="<% if(r.提成最低数){%><%=r.提成最低数%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_开始级别">
	<th>开始级别</th>
	<td><input type="text" class="textinput requireinput " id="开始级别" name="开始级别" value="<% if(r.开始级别){%><%=r.开始级别%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_结束级别">
	<th>结束级别</th>
	<td><input type="text" class="textinput requireinput " id="结束级别" name="结束级别" value="<% if(r.结束级别){%><%=r.结束级别%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_权限">
	<th>权限</th>
	<td><input type="text" class="textinput requireinput " id="权限" name="权限" value="<% if(r.权限){%><%=r.权限%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_类别">
	<th>类别</th>
	<td><input type="text" class="textinput requireinput " id="类别" name="类别" value="<% if(r.类别){%><%=r.类别%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_状态">
	<th>状态</th>
	<td><input type="text" class="textinput requireinput " id="状态" name="状态" value="<% if(r.状态){%><%=r.状态%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_排序">
	<th>排序</th>
	<td><input type="text" class="textinput requireinput " id="排序" name="排序" value="<% if(r.排序){%><%=r.排序%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_录入人">
	<th>录入人</th>
	<td><input type="text" ReadOnly="true" class="textinput" id="录入人" name="录入人" value="<% if(r.录入人){%><%=r.录入人%><% }else{ %><%=session.user_name%><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_录入时间">
	<th>录入时间</th>
	<td><input type="text" ReadOnly="true" class="textinput  " id="录入时间" name="录入时间" value="<% if(r.录入时间){%><%=r.录入时间%><% }else{ %><%=date%><% }%>" style="width:200px" /></td>
</tr>

<tr id="_t_备注">
	<th>备注</th>
	<td><input type="text" class="textinput requireinput " id="备注" name="备注" value="<% if(r.备注){%><%=r.备注%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_层1提成">
	<th>层1提成</th>
	<td><input type="text" class="textinput requireinput " id="层1提成" name="层1提成" value="<% if(r.层1提成){%><%=r.层1提成%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_层2提成">
	<th>层2提成</th>
	<td><input type="text" class="textinput requireinput " id="层2提成" name="层2提成" value="<% if(r.层2提成){%><%=r.层2提成%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_层3提成">
	<th>层3提成</th>
	<td><input type="text" class="textinput requireinput " id="层3提成" name="层3提成" value="<% if(r.层3提成){%><%=r.层3提成%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_俱乐部层1提成">
	<th>俱乐部层1提成</th>
	<td><input type="text" class="textinput requireinput " id="俱乐部层1提成" name="俱乐部层1提成" value="<% if(r.俱乐部层1提成){%><%=r.俱乐部层1提成%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_俱乐部层2提成">
	<th>俱乐部层2提成</th>
	<td><input type="text" class="textinput requireinput " id="俱乐部层2提成" name="俱乐部层2提成" value="<% if(r.俱乐部层2提成){%><%=r.俱乐部层2提成%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_俱乐部层3提成">
	<th>俱乐部层3提成</th>
	<td><input type="text" class="textinput requireinput " id="俱乐部层3提成" name="俱乐部层3提成" value="<% if(r.俱乐部层3提成){%><%=r.俱乐部层3提成%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_网络部提成">
	<th>网络部提成</th>
	<td><input type="text" class="textinput requireinput " id="网络部提成" name="网络部提成" value="<% if(r.网络部提成){%><%=r.网络部提成%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_赠送积分">
	<th>赠送积分</th>
	<td><input type="text" class="textinput requireinput " id="赠送积分" name="赠送积分" value="<% if(r.赠送积分){%><%=r.赠送积分%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_日返积分">
	<th>日返积分</th>
	<td><input type="text" class="textinput requireinput " id="日返积分" name="日返积分" value="<% if(r.日返积分){%><%=r.日返积分%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_财务部提成">
	<th>财务部提成</th>
	<td><input type="text" class="textinput requireinput " id="财务部提成" name="财务部提成" value="<% if(r.财务部提成){%><%=r.财务部提成%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_说明">
	<th>说明</th>
	<td><input type="text" class="textinput requireinput " id="说明" name="说明" value="<% if(r.说明){%><%=r.说明%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_分公司层1提成">
	<th>分公司层1提成</th>
	<td><input type="text" class="textinput requireinput " id="分公司层1提成" name="分公司层1提成" value="<% if(r.分公司层1提成){%><%=r.分公司层1提成%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_分公司层2提成">
	<th>分公司层2提成</th>
	<td><input type="text" class="textinput requireinput " id="分公司层2提成" name="分公司层2提成" value="<% if(r.分公司层2提成){%><%=r.分公司层2提成%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_分公司层3提成">
	<th>分公司层3提成</th>
	<td><input type="text" class="textinput requireinput " id="分公司层3提成" name="分公司层3提成" value="<% if(r.分公司层3提成){%><%=r.分公司层3提成%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_七大提成">
	<th>七大提成</th>
	<td><input type="text" class="textinput requireinput " id="七大提成" name="七大提成" value="<% if(r.七大提成){%><%=r.七大提成%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_全球提成">
	<th>全球提成</th>
	<td><input type="text" class="textinput requireinput " id="全球提成" name="全球提成" value="<% if(r.全球提成){%><%=r.全球提成%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_审计中心提成">
	<th>审计中心提成</th>
	<td><input type="text" class="textinput requireinput " id="审计中心提成" name="审计中心提成" value="<% if(r.审计中心提成){%><%=r.审计中心提成%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_监管中心提成">
	<th>监管中心提成</th>
	<td><input type="text" class="textinput requireinput " id="监管中心提成" name="监管中心提成" value="<% if(r.监管中心提成){%><%=r.监管中心提成%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_客服中心提成">
	<th>客服中心提成</th>
	<td><input type="text" class="textinput requireinput " id="客服中心提成" name="客服中心提成" value="<% if(r.客服中心提成){%><%=r.客服中心提成%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>


<% include ../admin/add_bottom.ejs %>
