<% include ../admin/look_top.ejs%>
<script>
	lists_width = "800";
	lists_height = "500";
</script>
<!--按钮区-->
<% if(_按钮权限.indexOf("zhanghu_insert")>=0){ %>
<div class="img-button img-2">
	<p><input type="button" value="添加账户" onclick='jq_bottom("1","/Tpl/adminfunc/zhanghu_insert.xhtml?a=1","添加账户","picture_list","")' class="addData" /></p>
</div>
<% }%>

<div id="select_button">
	<% if(_按钮权限.indexOf("zhanghu_update")>=0){ %>
	<a v='["1","/Tpl/adminfunc/zhanghu_update.xhtml?a=1","修改账户","picture_list",""]'>修改账户</a>
	<% }%>
	<% if(_按钮权限.indexOf("deleteClasses")>=0){ %>
	<a v='["4","/Tpl/adminfunc/zhanghu_delete.xhtml?a=1","deleteClasses","picture_list",""]'>删除账户</a>
	<% }%>
</div>
<div id="search">
	<div id="input"><input type="submit" id="button" value="搜索" class="submit_btn" /><input type="button" value="清空" onclick="jump_html()" class="submit_btn" id="clear" /></div>
	<div id="content">
		<div style="float:left">
			<link type="text/css" rel="stylesheet" href="../../public/date/calendar.css">
			<script type="text/javascript" src="../../public/date/calendar.js"></script>
			<script type="text/javascript" src="../../public/date/calendar-zh.js"></script>
			<script type="text/javascript" src="../../public/date/datelib/newdate.js"></script>
			<script src="../../public/admin/js/aliyun-oss-sdk-4.4.4.min.js" type="text/javascript"></script>
			<link type="text/css" href="../../public/date/datelib/jquery-ui-1.8.17.custom.css" rel="stylesheet" />
			<link type="text/css" href="../../public/date/datelib/jquery-ui-timepicker-addon.css" rel="stylesheet" />
			<script type="text/javascript" src="../../public/date/datelib/jquery-ui-1.8.17.custom.min.js"></script>
			<script type="text/javascript" src="../../public/date/datelib/jquery-ui-timepicker-addon.js"></script>
			<script type="text/javascript" src="../../public/date/datelib/jquery-ui-timepicker-zh-CN.js"></script>
			<script type="text/javascript">
				$(function() { $(".ui_timepicker").datetimepicker({ showSecond: true, timeFormat: "hh:mm:ss", stepHour: 1, stepMinute: 1, stepSecond: 1 }) })
			</script>
			<div style="float:left;">
				<div style="float:left;">状态：</div>
				<input type="text" name="状态" value="<%= data.状态%>" />&nbsp;&nbsp;</div>
			<div style="float:left;">
				<div style="float:left;">账号：</div>
				<input type="text" name="账号" value="<%= data.账号%>" />&nbsp;&nbsp;</div>
			<div style="float:left;">
				<div style="float:left;">卡号：</div>
				<input type="text" name="卡号" value="<%= data.卡号%>" />&nbsp;&nbsp;</div>
			<div style="float:left;">
				<div style="float:left;">姓名：</div>
				<input type="text" name="姓名" value="<%= data.姓名%>" />&nbsp;&nbsp;</div>
			<div style="float:left;">
				<div style="float:left;">录入人：</div>
				<input type="text" name="录入人" value="<%= data.录入人%>" />&nbsp;&nbsp;</div>
			<div style="float:left;">
				<div style="float:left;">录入时间：</div>
				<input style="height: 30px;padding: 4px 2px;height: 14px;line-height: 14px;border: solid 1px #666;" type="text" id="录入时间" name="录入时间" class="ui_timepicker" value="<%= data.录入时间%>" onclick="return showCalendar('录入时间','y-mm-dd');">&nbsp;&nbsp;</div>
			<div style="float:left;">
				<div style="float:left;">最小时间：</div>
				<input style="height: 30px;padding: 4px 2px;height: 14px;line-height: 14px;border: solid 1px #666;" type="text" id="最下时间" name="最小时间" class="ui_timepicker" value="<%= data.最小时间%>" onclick="return showCalendar('最小时间','y-mm-dd');">&nbsp;&nbsp;</div>
			<div style="float:left;">
				<div style="float:left;">最大时间：</div>
				<input style="height: 30px;padding: 4px 2px;height: 14px;line-height: 14px;border: solid 1px #666;" type="text" id="最大时间" name="最大时间" class="ui_timepicker" value="<%= data.最大时间%>" onclick="return showCalendar('最大时间','y-mm-dd');">&nbsp;&nbsp;</div>
		</div>
	</div>
</div>
</div>
</form>
<div class="search-box"></div>
<table id="checkList" class="table-list list" cellpadding="0" cellspacing="0" border="0" rel="">
	<thead>
		<tr>
			<th class="first" width="30"><input name="" type="checkbox" onclick="dein()" id="howinput" /></th>
			<th width="80px">
				<a onclick="ord('序号')">序号
					<%=arrow['序号']%>
				</a>
			</th>
			<th width="80px">
				<a onclick="ord('id')">id
					<%=arrow['id']%>
				</a>
			</th>
			<th width="100px">
				<a onclick="ord('账号')">账号
					<%=arrow['账号']%>
				</a>
			</th>
			<th width="100px">
				<a onclick="ord('卡号')">卡号
					<%=arrow['卡号']%>
				</a>
			</th>
			<th width="100px">
				<a onclick="ord('姓名')">姓名
					<%=arrow['姓名']%>
				</a>
			</th>
			<th width="100px">
				<a onclick="ord('积分')">积分
					<%=arrow['积分']%>
				</a>
			</th>
			<th width="100px">
				<a onclick="ord('余额')">余额
					<%=arrow['余额']%>
				</a>
			</th>
			<th width="100px">
				<a onclick="ord('说明')">说明
					<%=arrow['说明']%>
				</a>
			</th>
			<th width="100px">
				<a onclick="ord('状态')">状态
					<%=arrow['状态']%>
				</a>
			</th>
			<th width="100px">
				<a onclick="ord('类别')">类别
					<%=arrow['类别']%>
				</a>
			</th>
			<th width="100px">
				<a onclick="ord('录入人')">录入人
					<%=arrow['录入人']%>
				</a>
			</th>
			<th width="150px">
				<a onclick="ord('录入时间')">录入时间
					<%=arrow['录入时间']%>
				</a>
			</th>
			<th width="100px">
				<a onclick="ord('备注')">备注
					<%=arrow['备注']%>
				</a>
			</th>
			<th width="100px">
				<a onclick="ord('反馈')">反馈
					<%=arrow['反馈']%>
				</a>
			</th>
			<th width="100px">
				<a onclick="ord('操作')">操作
					<%=arrow['操作']%>
				</a>
			</th>
		</tr>
	</thead>
	<tbody>
		<% var class_name = "class=even";if(r.length == 0){ %>
		<td colspan="12" style="color: #333;line-height: 4;font-size: 16px; border-bottom: 0px solid #FFF;"><img style="width: 25px; vertical-align: middle; margin-right: 10px;" src="../../public/admin/images/close.png" />没有查询到符合条件的记录</td>
		<% }r.forEach(function (name,key){if(class_name == "class=even") class_name = ''; else class_name = "class=even";%>
		<tr <%=class_name%> >
			<td class="first"><input name="howde[]" type="checkbox" value="<%=name.id%>" class="idinput" /></td>
			<td>
				<% var pageNum = Number(arg.page)-1; var sumNum = Number(arg.sumnum); if(sumNum == '' || sumNum == null || !sumNum){sumNum = key+1}else{ sumNum = key + 1 + pageNum*sumNum} %>
				<%= sumNum %>
			</td>
			<td>
				<%=name.id%>
			</td>
			<td>
				<%=name.账号%>
			</td>
			<td>
				<%=name.卡号%>
			</td>
			<td>
				<%=name.姓名%>
			</td>
			<td>
				<%=name.积分%>
			</td>
			<td>
				<%=name.余额%>
			</td>
			<td>
				<%=name.说明%>
			</td>
			<td>
				<%=name.状态%>
			</td>
			<td>
				<%=name.类别%>
			</td>
			
			<td>
				<%=name.录入人%>
			</td>
			<td>
				<%=name.录入时间%>
			</td>
			<td>
				<%=name.备注%>
			</td>
			<td>
				<%=name.反馈%>
			</td>
			<td class="up_de" v="<%=name.id%>"><img src="../../public/admin/images/more1.png" class="up_select" /></td>
		</tr>
		<% })%>
		<% include ../admin/look_bottom.ejs %>