<% include ../admin/add_top.ejs %>
<tr id="_t_id">
	<th width="150">id</th>
	<td>
		<input type="text" ReadOnly="true" class="textinput" id="id" name="id" value="<% if(r.id){%><%=r.id%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_环游购唯一id">
	<th>环游购唯一id</th>
	<td><input type="text" class="textinput  " id="环游购唯一id" name="环游购唯一id" value="<% if(r.环游购唯一id){%><%=r.环游购唯一id%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>

<tr id="_t_账号">
	<th>账号</th>
	<td><input type="text" class="textinput" id="账号" name="账号" value="<% if(r.账号){%><%=r.账号%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_姓名">
	<th>姓名</th>
	<td><input type="text" class="textinput  " id="姓名" name="姓名" value="<% if(r.姓名){%><%=r.姓名%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_环游购账号">
	<th>环游购账号</th>
	<td><input type="text" class="textinput  " id="环游购账号" name="环游购账号" value="<% if(r.环游购账号){%><%=r.环游购账号%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_迁移时间">
	<th>迁移时间</th>
	<td><input type="text" class="textinput " id="迁移时间" name="迁移时间" value="<% if(r.迁移时间){%><%=r.迁移时间%><% }else{ %><%=date%><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_迁移类别">
	<th>迁移类别</th>
	<td><input type="text" class="textinput " id="迁移类别" name="迁移类别" value="<% if(r.迁移类别){%><%=r.迁移类别%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_状态">
	<th>状态</th>
	<td><input type="text" class="textinput " id="状态" name="状态" value="<% if(r.状态){%><%=r.状态%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_类别">
	<th>类别</th>
	<td><input type="text" class="textinput " id="类别" name="类别" value="<% if(r.类别){%><%=r.类别%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_录入人">
	<th>录入人</th>
	<td><input type="text" ReadOnly="true" class="textinput" id="录入人" name="录入人" value="<% if(r.录入人){%><%=r.录入人%><% }else{ %><%=session.user_name%><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_录入时间">
	<th>录入时间</th>
	<td><input type="text" ReadOnly="true" class="textinput  " id="录入时间" name="录入时间" value="<% if(r.录入时间){%><%=r.录入时间%><% }else{ %><%=date%><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_备注">
	<th>备注</th>
	<td><input type="text" class="textinput" id="备注" name="备注" value="<% if(r.备注){%><%=r.备注%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>




<% include ../admin/add_bottom.ejs %>
