<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title><%=_variable.设置.名称%> - 后台系统</title>
		<link href="../../public/admin/css/font-awesome.css" rel="stylesheet">
		<link rel="stylesheet" href="../../public/admin/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../public/admin/css/current.css" />
		<link rel="stylesheet" type="text/css" href="../../public/admin/css/main.css"/>
	</head>
	<body>
		<!--导航-->
		<div class="logo">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-3">
						<img src="<%=_variable.设置.logo%>" style="padding-top: 10px;width: 205px;height: 70px;" />
					</div>
					<div class="col-md-9">
						<ul class="list-inline pull-right">
							<li>
								<a href="">欢迎您！
									<%=session.user_name%>
								</a>
							</li>
							<!--<li>
								<a href="?_m=admincon&_n=my_pass&_f=update&_open_type=2" target="<%=_variable.设置.跳转模式%>">修改密码</a>
							</li>-->
							<!--<li>
								<a onclick="cache()">更新缓存</a>
							</li>-->
							<li>
								<a href="/Tpl/admin/main.xhtml">浏览首页</a>
							</li>
							<li>
								<a href="/Tpl/admin/del_admin.xhtml">退出</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

			<!--左边导航-->
	
<div class="contentLeft">
	<div id="contentLeft">
        <div class="zhankai">
			<i class="glyphicon glyphicon-chevron-down zkqb leftNavIcon zk" ></i>  <!--全展开-->
			<i class="glyphicon glyphicon-chevron-up zkqb leftNavIcon ss" ></i>  <!--全收缩-->
		</div>
		<!--<input type="button" name="商城模块" id="商城模块" value="商城模块" onclick="nav('商')" style="padding: 4px 11px;font-size: 17px;border: none;margin: 18px 0px 18px 24px ;" />
		<input type="button" name="平台模块" id="平台模块" value="平台模块" onclick="nav('平')" style="padding: 4px 11px;font-size: 17px;border: none;" />-->
		<ul id="leftNavigation" >
			<% for(var i = 0 ; i < listMenu.length ; i++) { %>
		    <% if (listMenu[i].是否菜单 == 1) { %>
			<li>
				<div class="zhudaohang" class="conLength">
					<i class="<%= listMenu[i].页面图标 %>"></i>
					<span class="nav1"><%= listMenu[i].名称 %></span>
					</div>
				<ul class="sub-menu">
					<% (listNav[listMenu[i].名称]).forEach(function(item2){ %>
					<% if(item2.是否菜单 == 1) { %>
					<li onclick="dianji(this)">
						<a href="<%=item2.网址%>" target="mainFrame" class="zhudaohang">
							<%= item2.名称 %>
							<i class="glyphicon glyphicon-chevron-right leftzhankai"></i></a>
					</li>
					<% } %>
					<% })%>
				</ul>
			</li>
			<% } %>
			<% } %>
		</ul>
	</div>
	</div>
	
	<iframe  src="/Tpl/admin/index.xhtml"  name="mainFrame" id="contentRight"></iframe>
		<script src='../../public/admin/js/jquery-3.1.1.min.js'></script>
		<!--<script type="text/javascript" src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>-->
		<script>
		function cache() {
			$.ajax({
				url: "?_m=admin&_n=index&_f=delete_Runtime",
				success: function(con) {
					localStorage.clear();
					alert(con);
					parent.location.href = parent.document.URL;
				}
			})
		}
		
		function dianji(a) {
			var aaa = $(a).find('a').attr('href');
			$('#contentRight').attr('src',aaa);
	    }
//点击系统 出现相应的li
        $(".zhudaohang").click(function(){
            if(!$(this).next().is(":animated")){ 
			   $(this).next().stop().slideToggle("slow");
			}
        })

//      点击头部的符号全部展开或收缩
        $(".zk").click(function(){
        	$(".sub-menu").slideDown("slow");
        })
        
        $(".ss").click(function(){
        	$(".sub-menu").slideUp("slow");
        })

	function nav(s) {
		s = encodeURIComponent(encodeURIComponent(s));
        	window.location.href = '/Tpl/admin/main.xhtml?nav='+s;
        }
		</script>
	</body>

</html>