<% include ../admin/look_top.ejs%>
<script>
	lists_width = "800";
	lists_height = "500";
</script>
<!--按钮区-->
<!--<% if(_按钮权限.indexOf("fgs_bonus_log_insert")>=0){ %>
<div class="img-button img-2">
	<p><input type="button" value="添加分公司奖金日志" onclick='jq_bottom("1","/Tpl/adminfunc/fgs_bonus_log_insert.xhtml?a=1","添加分公司奖金日志","fgs_bonus_log","")' class="addData" /></p>
</div>
<% }%>

<div id="select_button">
	<% if(_按钮权限.indexOf("fgs_bonus_log_update")>=0){ %>
	<a v='["1","/Tpl/adminfunc/fgs_bonus_log_update.xhtml?a=1","修改分公司奖金日志","fgs_bonus_log",""]'>修改分公司奖金日志</a>
	<% }%>
	<% if(_按钮权限.indexOf("deleteClasses")>=0){ %>
	<a v='["4","/Tpl/adminfunc/fgs_bonus_log_delete.xhtml?a=1","deleteClasses","fgs_bonus_log",""]'>删除分公司奖金日志</a>
	<% }%>
</div>-->
<div id="search">
	<div id="input"><input type="submit" id="button" value="搜索" class="submit_btn" /><input type="button" value="清空" onclick="jump_html()" class="submit_btn" id="clear" /></div>
	<div id="content">
		<div style="float:left">
			<link type="text/css" rel="stylesheet" href="../../public/date/calendar.css">
			<script type="text/javascript" src="../../public/date/calendar.js"></script>
			<script type="text/javascript" src="../../public/date/calendar-zh.js"></script>
			<script type="text/javascript" src="../../public/date/datelib/newdate.js"></script>
			<script src="../../public/admin/js/aliyun-oss-sdk-4.4.4.min.js" type="text/javascript"></script>
			<link type="text/css" href="../../public/date/datelib/jquery-ui-1.8.17.custom.css" rel="stylesheet" />
			<link type="text/css" href="../../public/date/datelib/jquery-ui-timepicker-addon.css" rel="stylesheet" />
			<script type="text/javascript" src="../../public/date/datelib/jquery-ui-1.8.17.custom.min.js"></script>
			<script type="text/javascript" src="../../public/date/datelib/jquery-ui-timepicker-addon.js"></script>
			<script type="text/javascript" src="../../public/date/datelib/jquery-ui-timepicker-zh-CN.js"></script>
			<script type="text/javascript">
				$(function() {
					$(".ui_timepicker").datetimepicker({
						showSecond: true,
						timeFormat: "hh:mm:ss",
						stepHour: 1,
						stepMinute: 1,
						stepSecond: 1
					})
				})
			</script>
			<!--<div style="float:left;">
				<div style="float:left;">卡号：</div>
				<input type="text" name="卡号" value="<%= data.卡号%>" />&nbsp;&nbsp;</div>-->
			<div style="float:left;">
				<div style="float:left;">账号：</div>
				<input type="text" name="账号" value="<%= data.账号%>" />&nbsp;&nbsp;</div>
			<!--<div style="float:left;">
				<div style="float:left;">姓名：</div>
				<input type="text" name="姓名" value="<%= data.姓名%>" />&nbsp;&nbsp;</div>
			<div style="float:left;">
				<div style="float:left;">录入时间：</div>
				<input style="height: 30px;padding: 4px 2px;height: 14px;line-height: 14px;border: solid 1px #666;" type="text" id="录入时间" name="录入时间" class="ui_timepicker" value="<%= data.录入时间%>" onclick="return showCalendar('录入时间','y-mm-dd');">&nbsp;&nbsp;</div>
			<br/>
			<div style="float:left;">
				<div style="float:left;">状态：</div>
				<input type="text" name="状态" value="<%= data.状态%>" />&nbsp;&nbsp;</div>
			<div style="float:left;">
				<div style="float:left;">类别：</div>
				<input type="text" name="类别" value="<%= data.类别%>" />&nbsp;&nbsp;</div>-->

			<!--<div style="float:left;">
				<div style="float:left;">查询：</div>
				<input type="text" name="查询" value="<%= data.查询%>" />&nbsp;&nbsp;</div>

			<div style="float:left;">
				<div style="float:left;">开始日期：</div>
				<input style="height: 30px;padding: 4px 2px;height: 14px;line-height: 14px;border: solid 1px #666;" type="text" id="开始日期" name="开始日期" class="ui_timepicker" value="<%= data.开始日期%>" onclick="return showCalendar('开始日期','y-mm-dd');">&nbsp;&nbsp;</div>

			<div style="float:left;">
				<div style="float:left;">结束日期：</div>
				<input style="height: 30px;padding: 4px 2px;height: 14px;line-height: 14px;border: solid 1px #666;" type="text" id="结束日期" name="结束日期" class="ui_timepicker" value="<%= data.结束日期%>" onclick="return showCalendar('结束日期','y-mm-dd');">&nbsp;&nbsp;</div>-->

		</div>
	</div>
</div>
</div>
</form>
<div class="search-box"></div>
<table id="checkList" class="table-list list" cellpadding="0" cellspacing="0" border="0" rel="">
	<thead>
		<tr>
			<th class="first" width="30"><input name="" type="checkbox" onclick="dein()" id="howinput" /></th>
			<th width="80px">
				<a onclick="ord('序号')">序号
					<%=arrow['序号']%>
				</a>
			</th>
			<!--<th width="150px">
				<a>操作</a>
			</th>-->
			<th width="80px">
				<a onclick="ord('id')">id
					<%=arrow['id']%>
				</a>
			</th>
			<th width="100px">
				<a onclick="ord('账号')">账号
					<%=arrow['账号']%>
				</a>
			</th>
			<th width="100px">
				<a onclick="ord('类别')">类别
					<%=arrow['类别']%>
				</a>
			</th>
			<th width="100px">
				<a onclick="ord('姓名')">姓名
					<%=arrow['姓名']%>
				</a>
			</th>
			<th width="100px">
				<a onclick="ord('当时类别')">当时类别
					<%=arrow['当时类别']%>
				</a>
			</th>
			<th width="100px">
				<a onclick="ord('卡号')">卡号
					<%=arrow['卡号']%>
				</a>
			</th>
			<th width="100px">
				<a onclick="ord('卡姓名')">卡姓名
					<%=arrow['卡姓名']%>
				</a>
			</th>
			<th width="100px">
				<a onclick="ord('应发积分')">应发积分
					<%=arrow['应发积分']%>
				</a>
			</th>
			<th width="100px">
				<a onclick="ord('实发积分')">实发积分
					<%=arrow['实发积分']%>
				</a>
			</th>
			<th width="100px">
				<a onclick="ord('开卡id')">开卡id
					<%=arrow['开卡id']%>
				</a>
			</th>
			<th width="100px">
				<a onclick="ord('数量')">数量
					<%=arrow['数量']%>
				</a>
			</th>
			<th width="100px">
				<a onclick="ord('套餐')">套餐
					<%=arrow['套餐']%>
				</a>
			</th>
			<th width="100px">
				<a onclick="ord('支付方式')">支付方式
					<%=arrow['支付方式']%>
				</a>
			</th>
			<th width="100px">
				<a onclick="ord('状态')">状态
					<%=arrow['状态']%>
				</a>
			</th>
			<th width="100px">
				<a onclick="ord('录入人')">录入人
					<%=arrow['录入人']%>
				</a>
			</th>
			<th width="150px">
				<a onclick="ord('录入时间')">录入时间
					<%=arrow['录入时间']%>
				</a>
			</th>
		</tr>
	</thead>
	<tbody>
		<% var class_name = "class=even";if(r.length == 0){ %>
		<td colspan="15" style="color: #333;line-height: 4;font-size: 16px; border-bottom: 0px solid #FFF;"><img style="width: 25px; vertical-align: middle; margin-right: 10px;" src="../../public/admin/images/close.png" />没有查询到符合条件的记录</td>
		<% }r.forEach(function (name,key){if(class_name == "class=even") class_name = ''; else class_name = "class=even";%>
		<tr <%=class_name%> >
			<td class="first"><input name="howde[]" type="checkbox" value="<%=name.id%>" class="idinput" /></td>
			<td>
				<% var pageNum = Number(arg.page)-1; var sumNum = Number(arg.sumnum); if(sumNum == '' || sumNum == null || !sumNum){sumNum = key+1}else{ sumNum = key + 1 + pageNum*sumNum} %>
				<%= sumNum %>
			</td>
			<!--<td class="up_de" v="<%=name.id%>"><img src="../../public/admin/images/more1.png" class="up_select" /></td>-->

			<td>
				<%=name.id%>
			</td>
			<td>
				<%=name.账号%>
			</td>
			<td>
				<%=name.类别%>
			</td>
			<td>
				<%=name.姓名%>
			</td>
			<td>
				<%=name.当时类别%>
			</td>
			<td>
				<%=name.卡号%>
			</td>
			<td>
				<%=name.卡姓名%>
			</td>
			<td>
				<%=name.应发积分%>
			</td>
			<td>
				<%=name.实发积分%>
			</td>
			<td>
				<%=name.开卡id%>
			</td>
			<td>
				<%=name.数量%>
			</td>
			<td>
				<%=name.套餐%>
			</td>
			<td>
				<%=name.支付方式%>
			</td>
			<td>
				<%=name.状态%>
			</td>
			<td>
				<%=name.录入人%>
			</td>
			<td>
				<%=name.录入时间%>
			</td>
		</tr>
		<% })%>
		<% include ../admin/look_bottom.ejs %>