<% include ../admin/add_top.ejs %>
<tr id="_t_id">
	<th width="150">id</th>
	<td>
		<input type="text" ReadOnly="true" class="textinput" id="id" name="id" value="<% if(r.id){%><%=r.id%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_账号">
	<th>账号</th>
	<td><input type="text" class="textinput requireinput" id="账号" name="账号" value="<% if(r.账号){%><%=r.账号%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>

<tr id="_t_姓名">
	<th>姓名</th>
	<td><input type="text" class="textinput requireinput" id="姓名" name="姓名" value="<% if(r.姓名){%><%=r.姓名%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_名称">
	<th>名称</th>
	<td><input type="text" class="textinput " id="名称" name="名称" value="<% if(r.积分){%><%=r.名称%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_编号">
	<th>编号</th>
	<td><input type="text" class="textinput" id="编号" name="编号" value="<% if(r.编号){%><%=r.编号%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_省">
	<th>省</th>
	<td><input type="text" class="textinput" id="省" name="省" value="<% if(r.省){%><%=r.省%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_市">
	<th>市</th>
	<td><input type="text" class="textinput" id="市" name="市" value="<% if(r.市){%><%=r.市%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_区">
	<th>区</th>
	<td><input type="text" class="textinput" id="区" name="区" value="<% if(r.区){%><%=r.区%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_分公司设置id">
	<th>分公司设置id</th>
	<td><input type="text" class="textinput  " id="分公司设置id" name="分公司设置id" value="<% if(r.分公司设置id){%><%=r.分公司设置id%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_分公司设置名称">
	<th>分公司设置名称</th>
	<td><input type="text" class="textinput  " id="分公司设置名称" name="分公司设置名称" value="<% if(r.分公司设置名称){%><%=r.分公司设置名称%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_层1分公司名称">
	<th>层1分公司名称</th>
	<td><input type="text" class="textinput  " id="层1分公司名称" name="层1分公司名称" value="<% if(r.层1分公司名称){%><%=r.层1分公司名称%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_层1分公司id">
	<th>层1分公司id</th>
	<td><input type="text" class="textinput  " id="层1分公司id" name="层1分公司id" value="<% if(r.层1分公司id){%><%=r.层1分公司id%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_层2分公司名称">
	<th>层2分公司名称</th>
	<td><input type="text" class="textinput  " id="层2分公司名称" name="层2分公司名称" value="<% if(r.层2分公司名称){%><%=r.层2分公司名称%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_层2分公司id">
	<th>层2分公司id</th>
	<td><input type="text" class="textinput  " id="层2分公司id" name="层2分公司id" value="<% if(r.层2分公司id){%><%=r.层2分公司id%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_层3分公司名称">
	<th>层3分公司名称</th>
	<td><input type="text" class="textinput  " id="层3分公司名称" name="层3分公司名称" value="<% if(r.层3分公司名称){%><%=r.层3分公司名称%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_层3分公司id">
	<th>层3分公司id</th>
	<td><input type="text" class="textinput  " id="层3分公司id" name="层3分公司id" value="<% if(r.层3分公司id){%><%=r.层3分公司id%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_金额">
	<th>金额</th>
	<td><input type="text" class="textinput requireinput " id="金额" name="金额" value="<% if(r.金额){%><%=r.金额%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_股数">
	<th>股数</th>
	<td><input type="text" class="textinput requireinput " id="股数" name="股数" value="<% if(r.股数){%><%=r.股数%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_支付方式">
	<th>支付方式</th>
	<td><input type="text" class="textinput " id="支付方式" name="支付方式" value="<% if(r.支付方式){%><%=r.支付方式%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_支付时间">
	<th>支付时间</th>
	<td><input type="text" class="textinput " id="支付时间" name="支付时间" value="<% if(r.支付时间){%><%=r.支付时间%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_支付订单号">
	<th>支付订单号</th>
	<td><input type="text" class="textinput " id="支付订单号" name="支付订单号" value="<% if(r.支付订单号){%><%=r.支付订单号%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_商户订单号">
	<th>商户订单号</th>
	<td><input type="text" class="textinput " id="商户订单号" name="商户订单号" value="<% if(r.商户订单号){%><%=r.商户订单号%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_每股赠送个数">
	<th>每股赠送个数</th>
	<td><input type="text" class="textinput requireinput " id="每股赠送个数" name="每股赠送个数" value="<% if(r.每股赠送个数){%><%=r.每股赠送个数%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>

<tr id="_t_状态">
	<th>状态</th>
	<td><input type="text" class="textinput requireinput " id="状态" name="状态" value="<% if(r.状态){%><%=r.状态%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_类别">
	<th>类别</th>
	<td><input type="text" class="textinput requireinput " id="类别" name="类别" value="<% if(r.类别){%><%=r.类别%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_录入人">
	<th>录入人</th>
	<td><input type="text" class="textinput" id="录入人" name="录入人" value="<% if(r.录入人){%><%=r.录入人%><% }else{ %><%=session.user_name%><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_录入时间">
	<th>录入时间</th>
	<td><input type="text" class="textinput  " id="录入时间" name="录入时间" value="<% if(r.录入时间){%><%=r.录入时间%><% }else{ %><%=date%><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_备注">
	<th>备注</th>
	<td><input type="text" class="textinput  " id="备注" name="备注" value="<% if(r.备注){%><%=r.备注%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>


<tr id="_t_密码">
	<th>密码</th>
	<td><input type="text" class="textinput " id="密码" name="密码" value="<% if(r.密码){%><%=r.密码%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>

<tr id="_t_分公司密码">
	<th>分公司密码</th>
	<td><input type="text" class="textinput " id="分公司密码" name="分公司密码" value="<% if(r.分公司密码){%><%=r.分公司密码%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>

<tr id="_t_上级">
	<th>上级</th>
	<td><input type="text" class="textinput " id="上级" name="上级" value="<% if(r.上级){%><%=r.上级%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>

<tr id="_t_上级姓名">
	<th>上级姓名</th>
	<td><input type="text" class="textinput " id="上级姓名" name="上级姓名" value="<% if(r.上级姓名){%><%=r.上级姓名%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>




<% include ../admin/add_bottom.ejs %>
