<% include ../admin/add_top.ejs %>
<tr id="_t_id">
	<th width="150">id</th>
	<td>
		<input type="text" ReadOnly="true" class="textinput" id="id" name="id" value="<% if(r.id){%><%=r.id%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_账号">
	<th>账号</th>
	<td><input type="text" class="textinput requireinput" id="账号" name="账号" value="<% if(r.账号){%><%=r.账号%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>

<tr id="_t_姓名">
	<th>姓名</th>
	<td><input type="text" class="textinput requireinput" id="姓名" name="姓名" value="<% if(r.姓名){%><%=r.姓名%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_名称">
	<th>名称</th>
	<td><input type="text" class="textinput requireinput" id="名称" name="名称" value="<% if(r.名称){%><%=r.名称%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_地址">
	<th>地址</th>
	<td><input type="text" class="textinput" id="地址" name="地址" value="<% if(r.地址){%><%=r.地址%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_排序">
	<th>排序</th>
	<td><input type="text" class="textinput" id="排序" name="排序" value="<% if(r.排序){%><%=r.排序%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_股数">
	<th>股数</th>
	<td><input type="text" class="textinput requireinput" id="股数" name="股数" value="<% if(r.股数){%><%=r.股数%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_层1分公司名称">
	<th>层1分公司名称</th>
	<td><input type="text" class="textinput  " id="层1分公司名称" name="层1分公司名称" value="<% if(r.层1分公司名称){%><%=r.层1分公司名称%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t层1分公司id">
	<th>层1分公司id</th>
	<td><input type="text" class="textinput  " id="层1分公司id" name="层1分公司id" value="<% if(r.层1分公司id){%><%=r.层1分公司id%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_层2分公司名称">
	<th>层2分公司名称</th>
	<td><input type="text" class="textinput  " id="层2分公司名称" name="层2分公司名称" value="<% if(r.层2分公司名称){%><%=r.层2分公司名称%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_层2分公司id">
	<th>层2分公司id</th>
	<td><input type="text" class="textinput  " id="层2分公司id" name="层2分公司id" value="<% if(r.层2分公司id){%><%=r.层2分公司id%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_层3分公司名称">
	<th>层3分公司名称</th>
	<td><input type="text" class="textinput  " id="层3分公司名称" name="层3分公司名称" value="<% if(r.层3分公司名称){%><%=r.层3分公司名称%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_层3分公司id">
	<th>层3分公司id</th>
	<td><input type="text" class="textinput  " id="层3分公司id" name="层3分公司id" value="<% if(r.层3分公司id){%><%=r.层3分公司id%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_编号">
	<th>编号</th>
	<td><input type="text" class="textinput requireinput" id="编号" name="编号" value="<% if(r.编号){%><%=r.编号%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_定时时间">
	<th>定时时间</th>
	<td><input type="text" class="textinput" id="定时时间" name="定时时间" value="<% if(r.定时时间){%><%=r.定时时间%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_省">
	<th>省</th>
	<td><input type="text" class="textinput" id="省" name="省" value="<% if(r.省){%><%=r.省%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_市">
	<th>市</th>
	<td><input type="text" class="textinput" id="市" name="市" value="<% if(r.市){%><%=r.市%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_区">
	<th>区</th>
	<td><input type="text" class="textinput" id="区" name="区" value="<% if(r.区){%><%=r.区%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_分公司密码">
	<th>分公司密码</th>
	<td><input type="text" class="textinput requireinput" id="分公司密码" name="分公司密码" value="<% if(r.分公司密码){%><%=r.分公司密码%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_总账户">
	<th>总账户</th>
	<td><input type="text" class="textinput requireinput" id="总账户" name="总账户" value="<% if(r.总账户){%><%=r.总账户%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_分红账户">
	<th>分红账户</th>
	<td><input type="text" class="textinput requireinput" id="分红账户" name="分红账户" value="<% if(r.分红账户){%><%=r.分红账户%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_回流账户">
	<th>回流账户</th>
	<td><input type="text" class="textinput requireinput" id="回流账户" name="回流账户" value="<% if(r.回流账户){%><%=r.回流账户%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_分公司设置id">
	<th>分公司设置id</th>
	<td><input type="text" class="textinput" id="分公司设置id" name="分公司设置id" value="<% if(r.分公司设置id){%><%=r.分公司设置id%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_类别">
	<th>类别</th>
	<td><input type="text" class="textinput requireinput " id="类别" name="类别" value="<% if(r.类别){%><%=r.类别%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>

<tr id="_t_状态">
	<th>状态</th>
	<td><input type="text" class="textinput requireinput " id="状态" name="状态" value="<% if(r.状态){%><%=r.状态%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_录入人">
	<th>录入人</th>
	<td><input type="text" ReadOnly="true" class="textinput" id="录入人" name="录入人" value="<% if(r.录入人){%><%=r.录入人%><% }else{ %><%=session.user_name%><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_录入时间">
	<th>录入时间</th>
	<td><input type="text" ReadOnly="true" class="textinput  " id="录入时间" name="录入时间" value="<% if(r.录入时间){%><%=r.录入时间%><% }else{ %><%=date%><% }%>" style="width:200px" /></td>
</tr>

<tr id="_t_备注">
	<th>备注</th>
	<td><input type="text" class="textinput  " id="备注" name="备注" value="<% if(r.备注){%><%=r.备注%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_类型切换">
	<th>类型切换</th>
	<td><input type="text" class="textinput  " id="类型切换" name="类型切换" value="<% if(r.类型切换){%><%=r.类型切换%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_切换时间">
	<th>切换时间</th>
	<td><input type="text" class="textinput  " id="切换时间" name="切换时间" value="<% if(r.切换时间){%><%=r.切换时间%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>


<% include ../admin/add_bottom.ejs %>
