<% include ../admin/add_top.ejs %>
<tr id="_t_id">
	<th width="150">id</th>
	<td>
		<input type="text" ReadOnly="true" class="textinput" id="id" name="id" value="<% if(r.id){%><%=r.id%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_账号">
	<th>账号</th>
	<td><input type="text" class="textinput" id="账号" name="账号" value="<% if(r.账号){%><%=r.账号%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_卡号">
	<th>卡号</th>
	<td><input type="text" class="textinput" id="卡号" name="卡号" value="<% if(r.卡号){%><%=r.卡号%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_姓名">
	<th>姓名</th>
	<td><input type="text" class="textinput" id="姓名" name="姓名" value="<% if(r.姓名){%><%=r.姓名%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_积分">
	<th>积分</th>
	<td><input type="text" class="textinput requireinput" id="积分" name="积分" value="<% if(r.积分){%><%=r.积分%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_余额">
	<th>余额</th>
	<td><input type="text" class="textinput requireinput" id="余额" name="余额" value="<% if(r.余额){%><%=r.余额%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_说明">
	<th>说明</th>
	<td><input type="text" class="textinput" id="说明" name="说明" value="<% if(r.说明){%><%=r.说明%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_状态">
	<th>状态</th>
	<td><input type="text" class="textinput " id="状态" name="状态" value="<% if(r.状态){%><%=r.状态%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_类别">
	<th>类别</th>
	<td><input type="text" class="textinput" id="类别" name="类别" value="<% if(r.类别){%><%=r.类别%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_录入人">
	<th>录入人</th>
	<td><input type="text" ReadOnly="true" class="textinput" id="录入人" name="录入人" value="<% if(r.录入人){%><%=r.录入人%><% }else{ %><%=session.user_name%><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_录入时间">
	<th>录入时间</th>
	<td><input type="text" ReadOnly="true" class="textinput  " id="录入时间" name="录入时间" value="<% if(r.录入时间){%><%=r.录入时间%><% }else{ %><%=date%><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_备注">
	<th>备注</th>
	<td><input type="text" class="textinput  " id="备注" name="备注" value="<% if(r.备注){%><%=r.备注%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_反馈">
	<th>反馈</th>
	<td><input type="text" class="textinput  " id="反馈" name="反馈" value="<% if(r.反馈){%><%=r.反馈%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<% include ../admin/add_bottom.ejs %>