<% include ../admin/add_top.ejs %>
<tr id="_t_id">
	<th width="150">id</th>
	<td>
		<input type="text" ReadOnly="true" class="textinput" id="id" name="id" value="<% if(r.id){%><%=r.id%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_账号">
	<th>账号</th>
	<td><input type="text" class="textinput requireinput" id="账号" name="账号" value="<% if(r.账号){%><%=r.账号%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>

<tr id="_t_姓名">
	<th>姓名</th>
	<td><input type="text" class="textinput requireinput " id="姓名" name="姓名" value="<% if(r.姓名){%><%=r.姓名%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_所占股数">
	<th>所占股数</th>
	<td><input type="text" class="textinput requireinput " id="所占股数" name="所占股数" value="<% if(r.所占股数){%><%=r.所占股数%><% }else{ %><% }%>" style="width:200px;background: rgb(235, 235, 228);" readonly/></td>
</tr>
<tr id="_t_单股金额">
	<th>单股金额</th>
	<td><input type="text" class="textinput requireinput " id="单股金额" name="单股金额" value="<% if(r.单股金额){%><%=r.单股金额%><% }else{ %><% }%>" style="width:200px;background: rgb(235, 235, 228);" readonly/></td>
</tr>
<tr id="_t_分公司名称">
	<th>分公司名称</th>
	<td><input type="text" class="textinput requireinput " id="分公司名称" name="分公司名称" value="<% if(r.分公司名称){%><%=r.分公司名称%><% }else{ %><% }%>" style="width:200px;background: rgb(235, 235, 228);" readonly/></td>
</tr>

<tr id="_t_状态">
	<th>状态</th>
	<td><input type="text" class="textinput requireinput " id="状态" name="状态" value="<% if(r.状态){%><%=r.状态%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_类别">
	<th>类别</th>
	<td><input type="text" class="textinput requireinput " id="类别" name="类别" value="<% if(r.类别){%><%=r.类别%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_录入人">
	<th>录入人</th>
	<td><input type="text"  class="textinput" id="录入人" name="录入人" value="<% if(r.录入人){%><%=r.录入人%><% }else{ %><%=session.user_name%><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_录入时间">
	<th>录入时间</th>
	<td><input type="text"  class="textinput  " id="录入时间" name="录入时间" value="<% if(r.录入时间){%><%=r.录入时间%><% }else{ %><%=date%><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_个人提取分红">
	<th>个人提取分红</th>
	<td><input type="text" class="textinput requireinput" id="个人提取分红" name="个人提取分红" value="<% if(r.个人提取分红){%><%=r.个人提取分红%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_分公司id">
	<th>分公司id</th>
	<td><input type="text" class="textinput  " id="分公司id" name="分公司id" value="<% if(r.分公司id){%><%=r.分公司id%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_备注">
	<th>备注</th>
	<td><input type="text" class="textinput  " id="备注" name="备注" value="<% if(r.备注){%><%=r.备注%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_是否分红">
	<th>是否分红</th>
	<td><input type="text" class="textinput  " id="是否分红" name="是否分红" value="<% if(r.是否分红){%><%=r.是否分红%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<% include ../admin/add_bottom.ejs %>