<% include ../admin/add_top.ejs %>
<tr id="_t_id">
	<th width="150">id</th>
	<td>
		<input type="text" ReadOnly="true" class="textinput" id="id" name="id" value="<% if(r.id){%><%=r.id%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_唯一id">
	<th>唯一id</th>
	<td><input type="text" class="textinput" id="唯一id" name="唯一id" value="<% if(r.唯一id){%><%=r.唯一id%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_账号">
	<th>账号</th>
	<td><input type="text" class="textinput" id="账号" name="账号" value="<% if(r.账号){%><%=r.账号%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_姓名">
	<th>姓名</th>
	<td><input type="text" class="textinput" id="姓名" name="姓名" value="<% if(r.姓名){%><%=r.姓名%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_市分公司">
	<th>市分公司</th>
	<td><input type="text" class="textinput" id="市分公司" name="市分公司" value="<% if(r.市分公司){%><%=r.市分公司%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_社区分公司">
	<th>社区分公司</th>
	<td><input type="text" class="textinput" id="社区分公司" name="社区分公司" value="<% if(r.社区分公司){%><%=r.社区分公司%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_独家分公司">
	<th>独家分公司</th>
	<td><input type="text" class="textinput" id="独家分公司" name="独家分公司" value="<% if(r.独家分公司){%><%=r.独家分公司%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_市默认时间">
	<th>市默认时间</th>
	<td><input type="text" class="textinput" id="市默认时间" name="市默认时间" value="<% if(r.市默认时间){%><%=r.市默认时间%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_社区默认时间">
	<th>社区默认时间</th>
	<td><input type="text" class="textinput" id="社区默认时间" name="社区默认时间" value="<% if(r.社区默认时间){%><%=r.社区默认时间%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_独家默认时间">
	<th>独家默认时间</th>
	<td><input type="text" class="textinput" id="独家默认时间" name="独家默认时间" value="<% if(r.独家默认时间){%><%=r.独家默认时间%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_状态">
	<th>状态</th>
	<td><input type="text" class="textinput " id="状态" name="状态" value="<% if(r.状态){%><%=r.状态%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_类别">
	<th>类别</th>
	<td><input type="text" class="textinput" id="类别" name="类别" value="<% if(r.类别){%><%=r.类别%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_录入人">
	<th>录入人</th>
	<td><input type="text" class="textinput" id="录入人" name="录入人" value="<% if(r.录入人){%><%=r.录入人%><% }else{ %><%=session.user_name%><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_录入时间">
	<th>录入时间</th>
	<td><input type="text" class="textinput  " id="录入时间" name="录入时间" value="<% if(r.录入时间){%><%=r.录入时间%><% }else{ %><%=date%><% }%>" style="width:200px" /></td>
</tr>

<% include ../admin/add_bottom.ejs %>