<% include ../admin/add_top.ejs %>
<tr id="_t_id">
	<th width="150">id</th>
	<td>
		<input type="text" ReadOnly="true" class="textinput" id="id" name="id" value="<% if(r.id){%><%=r.id%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_名称">
	<th>名称</th>
	<td><input type="text" class="textinput  " id="名称" name="名称" value="<% if(r.名称){%><%=r.名称%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>

<tr id="_t_股数">
	<th>股数</th>
	<td><input type="text" class="textinput requireinput " id="股数" name="股数" value="<% if(r.股数){%><%=r.股数%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_单股金额">
	<th>单股金额</th>
	<td><input type="text" class="textinput requireinput " id="单股金额" name="单股金额" value="<% if(r.单股金额){%><%=r.单股金额%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_提成积分">
	<th>提成积分</th>
	<td><input type="text" class="textinput requireinput " id="提成积分" name="提成积分" value="<% if(r.提成积分){%><%=r.提成积分%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_协议">
	<th>协议</th>
	<td><input type="text" class="textinput  " id="协议" name="协议" value="<% if(r.协议){%><%=r.协议%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_创建数量">
	<th>创建数量</th>
	<td><input type="text" class="textinput requireinput " id="创建数量" name="创建数量" value="<% if(r.创建数量){%><%=r.创建数量%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_全球提成">
	<th>全球提成</th>
	<td><input type="text" class="textinput  " id="全球提成" name="全球提成" value="<% if(r.全球提成){%><%=r.全球提成%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_七大提成">
	<th>七大提成</th>
	<td><input type="text" class="textinput  " id="七大提成" name="七大提成" value="<% if(r.七大提成){%><%=r.七大提成%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_上级提成">
	<th>上级提成</th>
	<td><input type="text" class="textinput  " id="上级提成" name="上级提成" value="<% if(r.上级提成){%><%=r.上级提成%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_每股赠送个数">
	<th>每股赠送个数</th>
	<td><input type="text" class="textinput requireinput " id="每股赠送个数" name="每股赠送个数" value="<% if(r.每股赠送个数){%><%=r.每股赠送个数%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_类别">
	<th>类别</th>
	<td><input type="text" class="textinput requireinput " id="类别" name="类别" value="<% if(r.类别){%><%=r.类别%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_状态">
	<th>状态</th>
	<td><input type="text" class="textinput requireinput " id="状态" name="状态" value="<% if(r.状态){%><%=r.状态%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>


<tr id="_t_录入人">
	<th>录入人</th>
	<td><input type="text" class="textinput" id="录入人" name="录入人" value="<% if(r.录入人){%><%=r.录入人%><% }else{ %><%=session.user_name%><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_录入时间">
	<th>录入时间</th>
	<td><input type="text" class="textinput  " id="录入时间" name="录入时间" value="<% if(r.录入时间){%><%=r.录入时间%><% }else{ %><%=date%><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_说明">
	<th>说明</th>
	<td><input type="text" class="textinput  " id="说明" name="说明" value="<% if(r.说明){%><%=r.说明%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_备注">
	<th>备注</th>
	<td><input type="text" class="textinput  " id="备注" name="备注" value="<% if(r.备注){%><%=r.备注%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>



<% include ../admin/add_bottom.ejs %>
