<% include ../admin/add_top.ejs %>
<tr id="_t_id">
	<th width="150">id</th>
	<td>
		<input type="text" ReadOnly="true" class="textinput" id="id" name="id" value="<% if(r.id){%><%=r.id%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_套餐名称">
	<th>套餐名称</th>
	<td><input type="text" class="textinput requireinput" id="套餐名称" name="套餐名称" value="<% if(r.套餐名称){%><%=r.套餐名称%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>

<tr id="_t_卡号">
	<th>卡号</th>
	<td><input type="text" class="textinput requireinput" id="卡号" name="卡号" value="<% if(r.卡号){%><%=r.卡号%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_账号">
	<th>账号</th>
	<td><input type="text" class="textinput requireinput" id="账号" name="账号" value="<% if(r.账号){%><%=r.账号%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_姓名">
	<th>姓名</th>
	<td><input type="text" class="textinput " id="姓名" name="姓名" value="<% if(r.姓名){%><%=r.姓名%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>

<tr id="_t_手机号">
	<th>手机号</th>
	<td><input type="text" class="textinput " id="手机号" name="手机号" value="<% if(r.手机号){%><%=r.手机号%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_消费账户">
	<th>消费账户</th>
	<td><input type="text" class="textinput requireinput" id="消费账户" name="消费账户" value="<% if(r.消费账户){%><%=r.消费账户%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_赠送积分">
	<th>赠送积分</th>
	<td><input type="text" class="textinput requireinput" id="赠送积分" name="赠送积分" value="<% if(r.赠送积分){%><%=r.赠送积分%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_面值">
	<th>面值</th>
	<td><input type="text" class="textinput requireinput" id="面值" name="面值" value="<% if(r.面值){%><%=r.面值%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_日返还积分">
	<th>日返还积分</th>
	<td><input type="text" class="textinput requireinput" id="日返还积分" name="日返还积分" value="<% if(r.日返还积分){%><%=r.日返还积分%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_上次返还时间">
	<th>上次返还时间</th>
	<td><input type="text" class="textinput  " id="上次返还时间" name="上次返还时间" value="<% if(r.上次返还时间){%><%=r.上次返还时间%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>

<tr id="_t_状态">
	<th>状态</th>
	<td><input type="text" class="textinput" id="状态" name="状态" value="<% if(r.状态){%><%=r.状态%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_类别">
	<th>类别</th>
	<td><input type="text" class="textinput" id="类别" name="类别" value="<% if(r.类别){%><%=r.类别%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_录入人">
	<th>录入人</th>
	<td><input type="text"  class="textinput" id="录入人" name="录入人" value="<% if(r.录入人){%><%=r.录入人%><% }else{ %><%=session.user_name%><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_录入时间">
	<th>录入时间</th>
	<td><input type="text"  class="textinput  " id="录入时间" name="录入时间" value="<% if(r.录入时间){%><%=r.录入时间%><% }else{ %><%=date%><% }%>" style="width:200px" /></td>
</tr>

<tr id="_t_备注">
	<th>备注</th>
	<td><input type="text" class="textinput  " id="备注" name="备注" value="<% if(r.备注){%><%=r.备注%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_数量">
	<th>数量</th>
	<td><input type="text" class="textinput requireinput " id="数量" name="数量" value="<% if(r.数量){%><%=r.数量%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_次数">
	<th>次数</th>
	<td><input type="text" class="textinput requireinput" id="次数" name="次数" value="<% if(r.次数){%><%=r.次数%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>
<tr id="_t_年月">
	<th>年月</th>
	<td><input type="text" class="textinput  " id="年月" name="年月" value="<% if(r.年月){%><%=r.年月%><% }else{ %><% }%>" style="width:200px" /></td>
</tr>


<% include ../admin/add_bottom.ejs %>
