<% include ../admin/look_top.ejs%>
<script>
	lists_width = "800";
	lists_height = "500";
</script>
<!--按钮区-->
<% if(_按钮权限.indexOf("fgs_default_insert")>=0){ %>
<div class="img-button img-2">
	<p><input type="button" value="添加分_默认表" onclick='jq_bottom("1","/Tpl/adminfunc/fgs_default_insert.xhtml?a=1","添加分_默认表","fgs_default","")' class="addData" /></p>
</div>
<% }%>

<div id="select_button">
	<% if(_按钮权限.indexOf("fgs_default_update")>=0){ %>
	<a v='["1","/Tpl/adminfunc/fgs_default_update.xhtml?a=1","修改","fgs_default",""]'>修改分_默认表</a>
	<% }%>
	<% if(_按钮权限.indexOf("deleteClasses")>=0){ %>
	<a v='["4","/Tpl/adminfunc/fgs_default_delete.xhtml?a=1","deleteClasses","fgs_default",""]'>删除分_默认表</a>
	<% }%>
</div>
<div id="search">
	<div id="input"><input type="submit" id="button" value="搜索" class="submit_btn" /><input type="button" value="清空" onclick="jump_html()" class="submit_btn" id="clear" /></div>
	<div id="content">
		<div style="float:left">
			<link type="text/css" rel="stylesheet" href="../../public/date/calendar.css">
			<script type="text/javascript" src="../../public/date/calendar.js"></script>
			<script type="text/javascript" src="../../public/date/calendar-zh.js"></script>
			<script type="text/javascript" src="../../public/date/datelib/newdate.js"></script>
			<script src="../../public/admin/js/aliyun-oss-sdk-4.4.4.min.js" type="text/javascript"></script>
			<link type="text/css" href="../../public/date/datelib/jquery-ui-1.8.17.custom.css" rel="stylesheet" />
			<link type="text/css" href="../../public/date/datelib/jquery-ui-timepicker-addon.css" rel="stylesheet" />
			<script type="text/javascript" src="../../public/date/datelib/jquery-ui-1.8.17.custom.min.js"></script>
			<script type="text/javascript" src="../../public/date/datelib/jquery-ui-timepicker-addon.js"></script>
			<script type="text/javascript" src="../../public/date/datelib/jquery-ui-timepicker-zh-CN.js"></script>
			<script type="text/javascript">
				$(function() {
					$(".ui_timepicker").datetimepicker({
						showSecond: true,
						timeFormat: "hh:mm:ss",
						stepHour: 1,
						stepMinute: 1,
						stepSecond: 1
					})
				})
			</script>
			<div style="float:left;">
				<div style="float:left;">账号：</div>
				<input type="text" name="账号" value="<%= data.账号%>" />&nbsp;&nbsp;</div>
			<div style="float:left;">
				<div style="float:left;">姓名：</div>
				<input type="text" name="姓名" value="<%= data.姓名%>" />&nbsp;&nbsp;</div>
			<div style="float:left;">
				<div style="float:left;">录入时间：</div>
				<input style="height: 30px;padding: 4px 2px;height: 14px;line-height: 14px;border: solid 1px #666;" type="text" id="录入时间" name="录入时间" class="ui_timepicker" value="<%= data.录入时间%>" onclick="return showCalendar('录入时间','y-mm-dd');">&nbsp;&nbsp;</div>
			<br/>
			<div style="float:left;">
				<div style="float:left;">状态：</div>
				<input type="text" name="状态" value="<%= data.状态%>" />&nbsp;&nbsp;</div>
			<div style="float:left;">
				<div style="float:left;">类别：</div>
				<input type="text" name="类别" value="<%= data.类别%>" />&nbsp;&nbsp;</div>
			<div style="float:left;">
				<div style="float:left;">开始日期：</div>
				<input style="height: 30px;padding: 4px 2px;height: 14px;line-height: 14px;border: solid 1px #666;" type="text" id="开始日期" name="开始日期" class="ui_timepicker" value="<%= data.开始日期%>" onclick="return showCalendar('开始日期','y-mm-dd');">&nbsp;&nbsp;</div>
			<div style="float:left;">
				<div style="float:left;">结束日期：</div>
				<input style="height: 30px;padding: 4px 2px;height: 14px;line-height: 14px;border: solid 1px #666;" type="text" id="结束日期" name="结束日期" class="ui_timepicker" value="<%= data.结束日期%>" onclick="return showCalendar('结束日期','y-mm-dd');">&nbsp;&nbsp;</div>

		</div>
	</div>
</div>
</div>
</form>
<div class="search-box"></div>
<table id="checkList" class="table-list list" cellpadding="0" cellspacing="0" border="0" rel="">
	<thead>
		<tr>
			<th class="first" width="30"><input name="" type="checkbox" onclick="dein()" id="howinput" /></th>
			<th width="80px">
				<a onclick="ord('序号')">序号
					<%=arrow['序号']%>
				</a>
			</th>
			<th width="80px">
				<a onclick="ord('id')">id
					<%=arrow['id']%>
				</a>
			</th>
			<th width="300px">
				<a onclick="ord('唯一id')">唯一id
					<%=arrow['唯一id']%>
				</a>
			</th>
			<th width="100px">
				<a onclick="ord('账号')">账号
					<%=arrow['账号']%>
				</a>
			</th>
			<th width="100px">
				<a onclick="ord('姓名')">姓名
					<%=arrow['姓名']%>
				</a>
			</th>
			<th width="100px">
				<a onclick="ord('市分公司')">市分公司
					<%=arrow['市分公司']%>
				</a>
			</th>
			<th width="100px">
				<a onclick="ord('社区分公司')">社区分公司
					<%=arrow['社区分公司']%>
				</a>
			</th>
			<th width="100px">
				<a onclick="ord('独家分公司')">独家分公司
					<%=arrow['独家分公司']%>
				</a>
			</th>
			<th width="150px">
				<a onclick="ord('市默认时间')">市默认时间
					<%=arrow['市默认时间']%>
				</a>
			</th>
			<th width="150px">
				<a onclick="ord('社区默认时间')">社区默认时间
					<%=arrow['社区默认时间']%>
				</a>
			</th>
			<th width="150px">
				<a onclick="ord('独家默认时间')">独家默认时间
					<%=arrow['独家默认时间']%>
				</a>
			</th>
			<th width="100px">
				<a onclick="ord('状态')">状态
					<%=arrow['状态']%>
				</a>
			</th>
			<th width="100px">
				<a onclick="ord('类别')">类别
					<%=arrow['类别']%>
				</a>
			</th>
			<th width="100px">
				<a onclick="ord('录入人')">录入人
					<%=arrow['录入人']%>
				</a>
			</th>
			<th width="150px">
				<a onclick="ord('录入时间')">录入时间
					<%=arrow['录入时间']%>
				</a>
			</th>

			<th width="150px">
				<a>操作</a>
			</th>

		</tr>
	</thead>
	<tbody>
		<% var class_name = "class=even";if(r.length == 0){ %>
		<td colspan="15" style="color: #333;line-height: 4;font-size: 16px; border-bottom: 0px solid #FFF;"><img style="width: 25px; vertical-align: middle; margin-right: 10px;" src="../../public/admin/images/close.png" />没有查询到符合条件的记录</td>
		<% }r.forEach(function (name,key){if(class_name == "class=even") class_name = ''; else class_name = "class=even";%>
		<tr <%=class_name%> >
			<td class="first"><input name="howde[]" type="checkbox" value="<%=name.id%>" class="idinput" /></td>
			<td>
				<% var pageNum = Number(arg.page)-1; var sumNum = Number(arg.sumnum); if(sumNum == '' || sumNum == null || !sumNum){sumNum = key+1}else{ sumNum = key + 1 + pageNum*sumNum} %>
				<%= sumNum %>
			</td>
			<td>
				<%=name.id%>
			</td>
			<td>
				<%=name.唯一id%>
			</td>
			<td>
				<%=name.账号%>
			</td>
			<td>
				<%=name.姓名%>
			</td>
			<td>
				<%=name.市分公司%>
			</td>
			<td>
				<%=name.社区分公司%>
			</td>
			<td>
				<%=name.独家分公司%>
			</td>
			<td>
				<%=name.市默认时间%>
			</td>
			<td>
				<%=name.社区默认时间%>
			</td>
			<td>
				<%=name.独家默认时间%>
			</td>
			<td>
				<%=name.状态%>
			</td>
			<td>
				<%=name.类别%>
			</td>
			<td>
				<%=name.录入人%>
			</td>
			<td>
				<%=name.录入时间%>
			</td>
			<td class="up_de" v="<%=name.id%>"><img src="../../public/admin/images/more1.png" class="up_select" /></td>
		</tr>
		<% })%>
		<% include ../admin/look_bottom.ejs %>