<% include ../admin/look_top.ejs%>
<script>
	lists_width = "800";
	lists_height = "500";
</script>
<!--按钮区-->
<% if(_按钮权限.indexOf("fgs_branchCompany_insert")>=0){ %>
<div class="img-button img-2">
	<p><input type="button" value="添加分公司" onclick='jq_bottom("1","/Tpl/adminfunc/fgs_branchCompany_insert.xhtml?a=1","添加分公司","fgs_branchCompany","")' class="addData" /></p>
</div>
<% }%>

<% if(_按钮权限.indexOf("apply_cancel")>=0){ %>
<div class="img-button img-1">
	<p><input type="button" disabled="disabled" value="作废分公司" onclick='jq_bottom("5","/Tpl/adminfunc/fgs_branchCompany_apply_cancel.xhtml?a=1","apply_cancel","fgs_branchCompany_apply","")' class="addData" /></p>
</div>
<% }%>

<div id="select_button">
	<% if(_按钮权限.indexOf("fgs_branchCompany_edit")>=0){ %>
	<a v='["1","/Tpl/adminfunc/fgs_branchCompany_edit.xhtml?a=1","修改分公司","fgs_branchCompany",""]'>修改分公司</a>
	<% }%>
	<% if(_按钮权限.indexOf("deleteClasses")>=0){ %>
	<a v='["4","/Tpl/adminfunc/fgs_branchCompany_delete.xhtml?a=1","deleteClasses","fgs_branchCompany",""]'>删除分公司</a>
	<% }%>
</div>
<div id="search">
	<div id="input"><input type="submit" id="button" value="搜索" class="submit_btn" /><input type="button" value="清空" onclick="jump_html()" class="submit_btn" id="clear" /></div>
	<div id="content">
		<div style="float:left">
			<link type="text/css" rel="stylesheet" href="../../public/date/calendar.css">
			<script type="text/javascript" src="../../public/date/calendar.js"></script>
			<script type="text/javascript" src="../../public/date/calendar-zh.js"></script>
			<script type="text/javascript" src="../../public/date/datelib/newdate.js"></script>
			<script src="../../public/admin/js/aliyun-oss-sdk-4.4.4.min.js" type="text/javascript"></script>
			<link type="text/css" href="../../public/date/datelib/jquery-ui-1.8.17.custom.css" rel="stylesheet" />
			<link type="text/css" href="../../public/date/datelib/jquery-ui-timepicker-addon.css" rel="stylesheet" />
			<script type="text/javascript" src="../../public/date/datelib/jquery-ui-1.8.17.custom.min.js"></script>
			<script type="text/javascript" src="../../public/date/datelib/jquery-ui-timepicker-addon.js"></script>
			<script type="text/javascript" src="../../public/date/datelib/jquery-ui-timepicker-zh-CN.js"></script>
			<script type="text/javascript">
				$(function() { $(".ui_timepicker").datetimepicker({ showSecond: true, timeFormat: "hh:mm:ss", stepHour: 1, stepMinute: 1, stepSecond: 1 }) })
			</script>
			<div style="float:left;">
				<div style="float:left;">账号：</div>
				<input type="text" name="账号" value="<%= data.账号%>" />&nbsp;&nbsp;</div>
			<div style="float:left;">
				<div style="float:left;">姓名：</div>
				<input type="text" name="姓名" value="<%= data.姓名%>" />&nbsp;&nbsp;</div>
			<div style="float:left;">
				<div style="float:left;">录入时间：</div>
				<input style="height: 30px;padding: 4px 2px;height: 14px;line-height: 14px;border: solid 1px #666;" type="text" id="录入时间" name="录入时间" class="ui_timepicker" value="<%= data.录入时间%>" onclick="return showCalendar('录入时间','y-mm-dd');">&nbsp;&nbsp;</div>
		</div>
	</div>
</div>
</div>
</form>
<div class="search-box"></div>
<table id="checkList" class="table-list list" cellpadding="0" cellspacing="0" border="0" rel="">
	<thead>
		<tr>
			<th class="first" width="30"><input name="" type="checkbox" onclick="dein()" id="howinput" /></th>
			<th width="80px">
				<a onclick="ord('序号')">序号
					<%=arrow['序号']%>
				</a>
			</th>
			<th width="80px">
				<a onclick="ord('id')">id
					<%=arrow['id']%>
				</a>
			</th>
			<th width="100px">
				<a onclick="ord('账号')">账号
					<%=arrow['账号']%>
				</a>
			</th>
			<th width="100px">
				<a onclick="ord('姓名')">姓名
					<%=arrow['姓名']%>
				</a>
			</th>
			<th width="100px">
				<a onclick="ord('名称')">名称
					<%=arrow['名称']%>
				</a>
			</th>
			<th width="100px">
				<a onclick="ord('地址')">地址
					<%=arrow['地址']%>
				</a>
			</th>
			<th width="100px">
				<a onclick="ord('排序')">排序
					<%=arrow['排序']%>
				</a>
			</th>
			<th width="100px">
				<a onclick="ord('股数')">股数
					<%=arrow['股数']%>
				</a>
			</th>
			<th width="100px">
				<a onclick="ord('层1分公司名称')">层1分公司名称
					<%=arrow['层1分公司名称']%>
				</a>
			</th>
			<th width="100px">
				<a onclick="ord('层1分公司id')">层1分公司id
					<%=arrow['层1分公司id']%>
				</a>
			</th>
			<th width="100px">
				<a onclick="ord('层2分公司名称')">层2分公司名称
					<%=arrow['层2分公司名称']%>
				</a>
			</th>
			<th width="100px">
				<a onclick="ord('层2分公司id')">层2分公司id
					<%=arrow['层2分公司id']%>
				</a>
			</th>
			<th width="100px">
				<a onclick="ord('层3分公司名称')">层3分公司名称
					<%=arrow['层3分公司名称']%>
				</a>
			</th>
			<th width="100px">
				<a onclick="ord('层3分公司id')">层3分公司id
					<%=arrow['层3分公司id']%>
				</a>
			</th>
			<th width="100px">
				<a onclick="ord('编号')">编号
					<%=arrow['编号']%>
				</a>
			</th>
			<th width="100px">
				<a onclick="ord('定时时间')">定时时间
					<%=arrow['定时时间']%>
				</a>
			</th>
			<th width="100px">
				<a onclick="ord('省')">省
					<%=arrow['省']%>
				</a>
			</th>
			<th width="100px">
				<a onclick="ord('市')">市
					<%=arrow['市']%>
				</a>
			</th>
			<th width="100px">
				<a onclick="ord('区')">区
					<%=arrow['区']%>
				</a>
			</th>
			<th width="300px">
				<a onclick="ord('分公司密码')">分公司密码
					<%=arrow['分公司密码']%>
				</a>
			</th>
			<th width="100px">
				<a onclick="ord('总账户')">总账户
					<%=arrow['总账户']%>
				</a>
			</th>
			<th width="100px">
				<a onclick="ord('分红账户')">分红账户
					<%=arrow['分红账户']%>
				</a>
			</th>
			<th width="100px">
				<a onclick="ord('回流账户')">回流账户
					<%=arrow['回流账户']%>
				</a>
			</th>
			<th width="100px">
				<a onclick="ord('分公司设置id')">分公司设置id
					<%=arrow['分公司设置id']%>
				</a>
			</th>
			<th width="100px">
				<a onclick="ord('类别')">类别
					<%=arrow['类别']%>
				</a>
			</th>
			<th width="100px">
				<a onclick="ord('状态')">状态
					<%=arrow['状态']%>
				</a>
			</th>
			<th width="100px">
				<a onclick="ord('录入人')">录入人
					<%=arrow['录入人']%>
				</a>
			</th>
			<th width="150px">
				<a onclick="ord('录入时间')">录入时间
					<%=arrow['录入时间']%>
				</a>
			</th>

			<th width="100px">
				<a onclick="ord('备注')">备注
					<%=arrow['备注']%>
				</a>
			</th>
			<th width="150px">
				<a>操作</a>
			</th>

		</tr>
	</thead>
	<tbody>
		<% var class_name = "class=even";if(r.length == 0){ %>
		<td colspan="15" style="color: #333;line-height: 4;font-size: 16px; border-bottom: 0px solid #FFF;"><img style="width: 25px; vertical-align: middle; margin-right: 10px;" src="../../public/admin/images/close.png" />没有查询到符合条件的记录</td>
		<% }r.forEach(function (name,key){if(class_name == "class=even") class_name = ''; else class_name = "class=even";%>
		<tr <%=class_name%> >
			<td class="first"><input name="howde[]" type="checkbox" value="<%=name.id%>" class="idinput" /></td>
			<td>
				<% var pageNum = Number(arg.page)-1; var sumNum = Number(arg.sumnum); if(sumNum == '' || sumNum == null || !sumNum){sumNum = key+1}else{ sumNum = key + 1 + pageNum*sumNum} %>
				<%= sumNum %>
			</td>
			<td>
				<%=name.id%>
			</td>
			<td>
				<%=name.账号%>
			</td>
			<td>
				<%=name.姓名%>
			</td>
			<td>
				<%=name.名称%>
			</td>
			<td>
				<%=name.地址%>
			</td>
			<td>
				<%=name.排序%>
			</td>
			<td>
				<%=name.股数%>
			</td>
			<td>
				<%=name.层1分公司名称%>
			</td>
			<td>
				<%=name.层1分公司id%>
			</td>
			<td>
				<%=name.层2分公司名称%>
			</td>
			<td>
				<%=name.层2分公司id%>
			</td>
			<td>
				<%=name.层3分公司名称%>
			</td>
			<td>
				<%=name.层3分公司id%>
			</td>
			<td>
				<%=name.编号%>
			</td>
			<td>
				<%=name.定时时间%>
			</td>
			<td>
				<%=name.省%>
			</td>
			<td>
				<%=name.市%>
			</td>
			<td>
				<%=name.区%>
			</td>
			<td>
				<%=name.分公司密码%>
			</td>
			<td>
				<%=name.总账户%>
			</td>
			<td>
				<%=name.分红账户%>
			</td>
			<td>
				<%=name.回流账户%>
			</td>
			<td>
				<%=name.分公司设置id%>
			</td>
	
			<td>
				<%=name.类别%>
			</td>
			<td>
				<%=name.状态%>
			</td>
			<td>
				<%=name.录入人%>
			</td>
			<td>
				<%=name.录入时间%>
			</td>
			<td>
				<%=name.备注%>
			</td>
			<td class="up_de" v="<%=name.id%>"><img src="../../public/admin/images/more1.png" class="up_select" /></td>
		</tr>
		<% })%>
		<% include ../admin/look_bottom.ejs %>